Source: lua-json
Section: interpreters
Priority: optional
Maintainer: The Debian Lua Team <pkg-lua-devel@lists.alioth.debian.org>
Uploaders: Jérémy Lal <kapouer@melix.org>
Build-Depends:
 debhelper-compat (= 13),
 dh-sequence-lua,
 lua-lpeg
Standards-Version: 4.7.0
Vcs-Git: https://salsa.debian.org/lua-team/lua-json.git
Vcs-Browser: https://salsa.debian.org/lua-team/lua-json
Homepage: http://www.eharning.us/wiki/luajson/

Package: lua-json
Architecture: all
Depends: ${misc:Depends}, lua-lpeg
Replaces: liblua5.1-json (<< 1.2.2-2~)
Breaks: liblua5.1-json (<< 1.2.2-2~)
Provides: liblua5.1-json, ${lua:Provides}
XB-Lua-Versions: ${lua:Versions}
Description: JSON decoder/encoder for Lua
 LuaJSON is a customizable JSON decoder/encoder using LPEG for parsing.
